---
import Layout from '../layouts/Layout.astro';
import Team from '../components/Team.astro';
---
<Layout title="eスポーツチーム一覧">
	<main>
		<Team></Team>
	</main>
</Layout>

<style>
	main {
		padding-top: 20px;
		background-color: #FFF;
	}
</style>