---
import Modal from '../components/Modal.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---
<header>
    <h1 set:html={title}></h1>
    <img id="preference" src="./img/other/gear.webp" alt="help">
</header>
<Modal></Modal>

<style>
    header {
        position: relative;
        padding-left: 15px;
        padding-right: 15px;
        z-index: 100;
        background-color: #fff;
        position: sticky;
        top: 0;
        height: 70px;
        border-bottom: solid 1px #ddd;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    h1 {
        font-size: 25px;
        line-height: 30px;
        font-family:  "Yu Mincho", serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
    }
    img {
        cursor: pointer;
        width: 40px;
    }
</style>

<script>
    window.onload = () => {
        // ドロップダウンメニュー（トグルボタンin）の表示非表示
        document.getElementById('preference').addEventListener('click', () => {
            const modal = document.getElementById('modal');
            if (modal.classList.contains('modal_hide') === true) {
                modal.classList.remove('modal_hide');
            } else {
                modal.classList.add('modal_hide');
            }
        });
        // 領域外クリックでドロップダウンを隠す
        document.addEventListener('click', (e:any) => {
            const modal = document.getElementById('modal');
            if(!e.target.closest('#modal') && !e.target.closest('#preference')) {
                modal.classList.add('modal_hide');
            }
        });
    };
</script>