---
---
<header>
    <p>aaa</p>
    <div id="mmm"><img src="./img/other/help.png" alt="help"></div>
</header>

<style>
    header {
        z-index: 100;
        background-color: #fff;
        position: sticky;
        top: 0;
        height: 70px;
        border-bottom: solid 1px #ddd;
    }
    img {
        width: 40px;
    }
</style>

<script>
    const a = document.getElementById('mmm');
    a.addEventListener('click', () => {
        alert('aaa')
    });
</script>