---
import divisions from '../json/divisions.json';
const checkbox_class_prefix = 'checkbox m_c__';
---
<div id="modal" class="modal_hide">
    <div class="inner">
        <div class="divisions">
            {divisions.map((division) => (
                <div class={'division m_d__' + division.id}>
                    <input class={checkbox_class_prefix + division.id} id={division.id} type="checkbox">
                    <label for={division.id}>
                        <div class="img_wrap">
                            <img src={'/img/division/' + division.id + '.webp'} alt={division.name}>
                        </div>
                        <div class="division_name">{division.name}</div>
                    </label>
                </div>
            ))}
        </div>
        <button id="all_release" type="button">全解除</button>
    </div>
</div>

<style>
#modal {
    z-index: 50;
    position: fixed;
    top: 70px;
    right: 0px;
    width: 500px;
    max-height: calc(100% - 70px);
    background-color: #fafafa;
    transition: 0.4s;
    transform: translateX(0);
    overflow-y: auto;
    border: solid 1px #ddd;
    border-top: none;
    border-right: none;
}
@media screen and (max-width:1200px) {
    #modal {
        left: 10px;
        width: auto;
    }
}
#modal.modal_hide {
    transform: translateX(200%);
}
.inner {
    padding: 10px;
}
.divisions {
    display: flex;
    flex-direction: column;
}
.division {
    display: flex;
}
.division:not(:last-child) {
    margin-bottom: 5px;
}
label {
    display: flex;
    align-items: center;
}
.img_wrap {
    width: 55px;
    display: flex;
    justify-content: center;
}
.division img {
    height: 30px;
	transform: scale(1.01);
}
.m_d__pubg_mobile img {
	height: 25px!important;
}
.m_d__tekken_7 img {
	height: 22px!important;
}
.division_name {
    font-size: 20px;
	font-family: "Osaka", "Hiragino Sans", "Arial", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
}
#all_release {
    margin-top: 15px;
    margin-left: 30px;
    margin-bottom: 10px;
}
</style>

<script>
    const checkbox_class_prefix = 'checkbox m_c__';
    const team_division_class_prefix = 'team_division__';
    const checkboxes = document.getElementsByClassName("checkbox");
    for (let i = 0; i < checkboxes.length; i++) {
        const element_cb = checkboxes[i];
        element_cb.addEventListener("click", (e) => {
            // 必要な(表示する)divisionの取得処理
            let required_divisions = [];
            const checkboxes =  document.getElementsByClassName("checkbox");
            for (let i = 0; i < checkboxes.length; i++) {
                const element_cb2 = checkboxes[i] as HTMLInputElement;
                // チェックされている場合
                if (element_cb2.checked === true) {
                    // classから文字列切り出してdivision名取得
                    const division_name = element_cb2.className.replace(checkbox_class_prefix, '');
                    // 配列の最後に追加
                    required_divisions.push(division_name);
                }
            }
            // チームの表示/非表示切り替え処理
            const teams =  document.getElementsByClassName("team");
            for (let i = 0; i < teams.length; i++) {
                const element_team = teams[i];
                // divisionにチェックない場合
                if (required_divisions.length === 0) {
                    // hideのclassを無条件で消す
                    element_team.classList.remove('team_hide');
                } else {
                    // divisionひとつずつみて、全部あれば出す
                    let display = true;
                    for (const required_division of required_divisions) {
                        // teamのclassにdivisonない場合
                        if (!element_team.classList.contains(team_division_class_prefix + required_division)) {
                            // 一個でもなければおわり
                            display = false;
                            break;
                        }
                    }
                    // 先程の判定に従い出すか出さないか
                    if (display === true) {
                        element_team.classList.remove('team_hide');
                    } else {
                        element_team.classList.add('team_hide');
                    }
                }
            }
        });
    }

    // 全解除ボタン
    const all_release = document.getElementById("all_release");
    all_release.addEventListener("click", (e) => {
        // 全部チェック外す
        const checkboxes = document.getElementsByClassName("checkbox");
        for (let i = 0; i < checkboxes.length; i++) {
            const element_cb = checkboxes[i] as HTMLInputElement;
            element_cb.checked = false;
        }
        // 全チーム出す
        const teams =  document.getElementsByClassName("team");
        for (let i = 0; i < teams.length; i++) {
            const element_team = teams[i];
            element_team.classList.remove('team_hide');
        }
    });

</script>

